# SPDX-License-Identifier: GPL-2.0+
#
# PC (BIOS) SoC - U-Boot loaded by legacy BIOS in 32-bit mode
#

config BIOS_PC
	bool
	select ARCH_EARLY_INIT_R
	imply SYS_NS16550
	imply AHCI_PCI
	imply I8254_TIMER
	help
	  Select this when building for a generic PC where U-Boot is loaded
	  by legacy BIOS (or SeaBIOS in QEMU) in 32-bit protected mode.
	  Assumes BIOS has already done POST and memory setup. RAM size
	  is read from standard CMOS locations.
